.logo{
    margin: auto 13px;
    height: 42px;
    display: flex;    
}
.rect{
    background-color: #FFF;
    border-radius: 5px;
    height: 35px;
    width: 50px;
    position: relative;
}

#guion{
    position: absolute;
    left: 10px;
    top: -2px;
}
#ap-lg{
    line-height: 0.9;
    top: 1px;
    position: relative;
    font-size: 16px;
}

#yp {
    margin-left: 16px;
    font-size: 18px;
}

#arrow{
    position: absolute;
    left: -10px;
}