<div class="container-fluid m-0 p-0" id="Container-B">
    <div class="container-xxl" id="blur-card">
        <div class="mid-center">
            <div class="text-cont">
                <span class="frase">{{texto}}</span>
                <span class="autor">{{autor}}</span>
            </div>
        </div>
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>