<div class="container-fluid m-0 p-0" id="Container-B" >
    <div class="container-xxl" id="blur-card">
        <div class="mid-center">
            <div class="circle">
                <img src="../../../assets/img/perfil_2.png" alt="" width="250px">
                <div class="text-cont">
                    <span><h3 class="text-center">Jonatán Emmanuel Diaz</h3></span>
                    <span class="text-center">Desarrollador FullStack Jr - Data Analytics Ssr</span>
                </div>
            </div>
        </div>
    </div>
</div>
