<section class="laboral-experience" title="Experiencia Laboral">
    <h3>Experiencia Laboral</h3>
    <div class="container d-grid gap-4">
        <div class="hstack gap-3">
            <div class="col-sm-2 d-none d-md-block">
                <div class="icon justify-content-center align-items-center p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1"
                        x="0px" y="0px" viewBox="0 0 49 48" style="enable-background:new 0 0 49 48;"
                        xml:space="preserve">

                        <g>
                            <path class="st0"
                                d="M24.5,11.4c4.6,0,8.6,2.6,10.7,6.4l7.3-3.8C39,7.5,32.3,3.1,24.5,3.1S9.9,7.5,6.5,13.9l7.3,3.8   C15.8,14,19.9,11.4,24.5,11.4z">
                            </path>
                            <path class="st0"
                                d="M24.5,36.8c-4.6,0-8.6-2.6-10.7-6.4l-7.3,3.8C10,40.6,16.7,45,24.5,45s14.5-4.4,18-10.8l-7.3-3.8   C33.1,34.2,29.1,36.8,24.5,36.8z">
                            </path>
                            <path class="st0"
                                d="M29.4,19.4c2.7,2.7,2.7,7.1,0,9.8c-2.7,2.7-7.1,2.7-9.8,0c-2.7-2.7-2.7-7.1,0-9.8   C22.3,16.7,26.7,16.7,29.4,19.4z">
                            </path>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="vr"></div>
            <div class="col-sm-9 ms-auto p-4 text-light">
                <h6 class="company m-0">Analista de Datos - CoreBI</h6>
                <p class="time">2022 / Actual</p>
                <p class="description m-0">Analista Funcional para la compañia de AssistCard, en el departamento de
                    explotación de datos, realizando tareas como:</p>
                <ul class="task-list">
                    <li><i class="bi bi-check"></i>Desarrollo de tableros en Reporting Services</li>
                    <li><i class="bi bi-check"></i>Analisis de tablas en SQL Server</li>
                    <li><i class="bi bi-check"></i>Armado de vistas de SQL</li>
                </ul>
            </div>
        </div>
        <div class="hstack gap-3">
            <div class="col-sm-2 d-none d-md-block">
                <div class="icon justify-content-center align-items-center p-4">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.000000 552.000000"
                        preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,552.000000) scale(0.100000,-0.100000)" stroke="none">
                            <path d="M374 5221 c-42 -25 -72 -66 -84 -113 -7 -25 -10 -200 -8 -501 3 -411
                    5 -465 20 -492 29 -52 1026 -1041 1038 -1029 7 7 9 187 8 535 l-3 524 -420 5
                    c-231 3 -427 8 -435 13 -43 22 -45 35 -48 427 -2 206 0 390 3 409 4 18 17 44
                    30 57 l24 24 1344 0 1344 0 27 -26 26 -27 0 -409 0 -410 -29 -29 -29 -29 -414
                    0 c-309 0 -417 -3 -426 -12 -9 -9 -12 -355 -12 -1494 l0 -1483 -24 -28 -24
                    -28 -418 -5 c-362 -4 -419 -7 -422 -20 -4 -22 712 -732 768 -761 l45 -24 422
                    0 c411 0 422 1 450 21 15 11 36 36 45 55 17 32 18 96 18 920 0 675 3 888 12
                    897 8 8 52 12 133 12 359 0 725 110 1007 302 187 127 372 342 467 541 204 432
                    196 995 -22 1421 -132 258 -338 458 -612 592 -193 94 -371 145 -605 174 -54 6
                    -634 10 -1625 10 -1491 0 -1541 -1 -1571 -19z" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="vr"></div>
            <div class="col-sm-9 ms-auto p-4 text-light">
                <h6 class="company m-0">Analista de Datos - Teleperformance Argentina</h6>
                <p class="time">2021 / 2022</p>
                <p class="description m-0">Como analista de datos para las campañas del Grupo Telecom, realizando tareas
                    como:</p>
                <ul class="task-list">
                    <li><i class="bi bi-check"></i>Desarrollo de tableros en Power BI</li>
                    <li><i class="bi bi-check"></i>Analisis de tablas en SQL Server</li>
                    <li><i class="bi bi-check"></i>Armado de vistas de SQL</li>
                </ul>
            </div>
        </div>
    </div>


</section>